:root{
  --light-color:#eeeeee;
  --light-ligher: #fdfdfd;
  --light-font-color:#707070;
  --light-lightest:#fff;
  --light-sun: #ffde9c;
  --dark-color:#575757;
  --dark-font-color:#909090;
  --dark-darker:#000;
  --dark-moon: #ffe882;
}
@keyframes circlemove{
  0%{
    top: -65px;
  }
  50%{
    top: -70px;
  }
 100%{
   top: -65px;
  }
}
@keyframes circlemovephone{
  0%{
    top: -30px;
  }
  50%{
    top: -38px;
  }
 100%{
   top: -30px;
  }
}
@keyframes arrowmove{
    0%{
      bottom:1%;
    }
    50%{
      bottom:3%;
    }
   100%{
     bottom:1%;
    }
}
@keyframes sunrise{
  0%{
    top: 60%;
    left: 50%;
  }

  100%{
    top:47%;
    left: 40%;
  }
}
@keyframes sunrisephone{
  0%{
    top: 60%;
    left: 50%;
  }

  100%{
    top:47%;
    left: 35%;
  }
}
div, body, ul, li, p, h1, h2{
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
body {
  margin-top: 0;
  padding: 0;
  background-color: var(--light-lightest);
}
img {
  width: 100%;
  height: auto;
  vertical-align:bottom;
}
body li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuline p{
  font-size: 0.6rem;
  text-align: center;
  margin: -15px 0 0 -20px;
  cursor: pointer;
  letter-spacing: 0.25em;
}

.fixed {
  position: fixed;
  width: 100%;
  margin-right: 10%;
  z-index: 1;
}

body nav {
  position: absolute;
  right: 0%;
  width: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #ffff;
  transition: width 0.3s;
  box-shadow: 5px -3px 13px 0px rgb(227, 227, 227) inset;
  text-align: center;
}

body nav h2 {
  margin: 50px 0 10px;
}

body nav li {
  width: 100%;
  height: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

body nav li p {
  position: absolute;
  bottom: 0%;
  left: 23%;
  width: 50%;
  margin: auto;
  padding: 4px 5px;
  color: #858585;
  border-bottom: 1px solid #858585;
}
body nav li:hover {
  opacity: 0.5;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}
.menuWrapper {
  position: relative;
  width: 50px;
  height: 50px;
}
.menuButton {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}
.menuButton span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: #222222;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.menuButton span {
  overflow: hidden;
  color: #131313;
}
.menuButton::before, .menuButton::after {
  display: block;
  width: 30px;
  height: 1px;
  background-color: #222222;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.menuButton::before{
  content: "";
}
.menuButton::after {
  content: "";
  transform: translateY(12px);
  width: 18px;
  left: 10px;
  transition: 0.5s;
}
.menuline {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  transform: translateX(0);
  transition: transform 0.3s;
}
.maintranslate {
  transform: translateX(-250px);
  transition: transform 0.3s;
}
.menutranslate {
  width: 250px;
  transition: 0.3s;
}
.menuButton span, .menuButton::before .menuButton::after {
  transition: transform 0.3s;
}
.menuButton.hover::after{
  left: -10px;
  transition: 0.3s;
}

.menuButton.active span{
  transform: translate(-50px);
  transition: transform 0.3s;
}

.menuButton.active::before {
    transform: rotate(45deg);
    width: 25px;
}

.menuButton.active::after {
    transform: rotate(-45deg);
    width: 25px;
    left: 0;
}

.global-title {
  text-align: left;
  position: fixed;
  top: 62px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  transition: 0.3s;
  letter-spacing: 0.2em;
  z-index: 2;
}

.global-title p:nth-of-type(2){
  font-size: 0.8rem;
  color: #858585;
  letter-spacing: 0;
}
.content{
  position: relative;
  transition: transform 0.3s;
}
.top{
  position: relative;
  width: 100%;
  height: 100vh;
}
.circle{
  animation: sunrisephone 1s ease;
  position: absolute;
  width: clamp(80px, 100%, 15vw);
  height: clamp(80px, 100%, 15vw);
  border: 2px solid var(--light-sun);
  background-color: var(--light-sun);
  border-radius: 50%;
  top: 47%;
  left: 30%;
  transform: translate(-50%,-50%);
}
.triangle{
  position: absolute;
  background-color: var(--light-ligher);
  width: clamp(250px, 100%, 30vw);
  height: clamp(250px, 100%, 30vw);
  clip-path: polygon(50% 10%, 0%  100%, 100% 100%, 100% 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top-title{
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.top-title h1{
  font-size: clamp(30px, 100%, 2rem);
}
.top-title p{
  width: 100%;
  font-size: 16px;
}
.top-title p:nth-of-type(2){
  margin-top: 10px;
  font-size: 0.6rem;
}
.scroll-down{
  position:absolute;
  bottom:1%;
  right:50%;
  animation: arrowmove 1.5s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.5s;
}
.scroll-active{
  opacity: 1;
  transition: opacity 0.5s;
}
.scroll-down span{
  position: absolute;
  left:-20px;
  bottom:10px;
  color: var(--light-font-color);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.scroll-down:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 1px;
  height: 20px;
  background: var(--light-font-color);
  transform: skewX(-31deg);
}
.scroll-down:after{
	content:"";
	position: absolute;
	bottom:0;
	right:0;
	width:1px;
	height: 50px;
	background: var(--light-font-color);
}
.works{
  position: relative;
  width: 100%;
  padding: 100px 0 200px 0;
  background-color: var(--light-lightest);
}
.swiper-button-next,.swiper-button-prev{
  display: none;
}
.works-title{
  position: relative;
  width: 110px;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
  z-index: 1;
}
.works-title::after{
  animation: circlemovephone 2s ease-in-out infinite;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--light-sun);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.swiper-container{
  position: relative;
}
.swiper{
  position: relative;
  width: 90%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 0 0 7px !important;
  background: var(--light-sun) !important;
}
.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}
.allcontent{
  position: relative;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.allcontent a::after{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 4px var(--light-font-color);
  border-right: solid 4px var(--light-font-color);
}
@media screen and (min-width: 360px) {
  .circle{
    position: absolute;
    width: clamp(80px, 100%, 12vw);
    height: clamp(80px, 100%, 12vw);
    border: 2px solid var(--light-sun);
    background-color: var(--light-sun);
    border-radius: 50%;
    top: 47%;
    left: 35%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (min-width: 520px) {
  .circle{
    animation: sunrise 1s ease;
    position: absolute;
    width: clamp(100px, 100%, 12vw);
    height: clamp(100px, 100%, 12vw);
    border: 2px solid var(--light-sun);
    background-color: var(--light-sun);
    border-radius: 50%;
    top: 47%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (min-width: 960px) {
  .circle{
    animation: sunrise 1s ease;
  }
  .triangle{
    position: absolute;
    background-color: var(--light-ligher);
    width: clamp(250px, 100%, 30vw);
    height: clamp(250px, 100%, 30vw);
    clip-path: polygon(50% 10%, 0%  100%, 100% 100%, 100% 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.works{
  width: 100%;
  margin-top: 200px;
  padding: 100px 0;
  background-color: var(--light-lightest);
}
.works-title{
  position: relative;
  width: 110px;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 80px;
  z-index: 1;
}
.works-title::after{
  animation: circlemove 2s ease-in-out infinite;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--light-sun);
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.swiper-container{
  position: relative;
}
.swiper{
  position: relative;
  width: clamp(350px, 100%, 55vw);
  aspect-ratio: 16 / 9;
  border-radius: 3px;
}
.swiper-wrapper{
  /* wrapperのサイズを調整 */
  position: absolute;
  top: 0;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  text-align: center;
}

.swiper-button-next{
  margin-right: 15%;
  color: var(--light-sun);
}
.swiper-button-prev{
  margin-left: 15%;
  color: var(--light-sun);
}
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  margin: 0 0 0 7px !important;
  background: var(--light-sun) !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

}