:root{
  --light-color:#eeeeee;
  --light-ligher: #fdfdfd;
  --light-font-color:#707070;
  --light-font-color-lighter:#E8E8E8;
  --light-lightest:#fff;
  --light-sun: #ffde9c;
  --dark-color:#575757;
  --dark-font-color:#909090;
  --dark-font-color-lighter:#f5f5f5;
  --dark-darker:#000;
  --dark-moon: #c0ac56;
}
@keyframes circlemove{
  0%{
    top: -65px;
  }
  50%{
    top: -70px;
  }
 100%{
   top: -65px;
  }
}
@keyframes circlemovephone{
  0%{
    top: -30px;
  }
  50%{
    top: -38px;
  }
 100%{
   top: -30px;
  }
}
html{
  scroll-behavior: smooth;
}
div, body, ul, li, p, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
body {
  margin-top: 0;
  padding: 0;
  background-color: var(--light-lightest);
  color: var(--light-font-color);
  font-weight: lighter;
}
img {
  width: 100%;
  height: auto;
  vertical-align:bottom;
}
a:link {
  color: var(--light-font-color);
  text-decoration: none;
}
body li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
picture{
  width: 100%;
  height: auto;
}
.menuline p{
  font-size: 0.6rem;
  text-align: center;
  margin: -15px 0 0 -20px;
  cursor: pointer;
  letter-spacing: 0.25em;
}
.fixed{
  position: fixed;
  width: 100%;
  margin-right: 10%;
  z-index: 3;
}
body nav {
  position: absolute;
  right: 0%;
  width: 0;
  overflow: hidden;
  height: 100vh;
  background-color: var(--light-lightest);
  transition: width 0.3s;
  box-shadow: 5px -3px 13px 0px var(--light-color) inset;
  text-align: center;
}
body nav h2{
  margin: 50px 0 10px;
}
body nav a{
    color: var(--light-font-color);
}
body nav li{
  width: 100%;
  height: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
body nav li p{
  position: absolute;
  bottom: 0%;
  left: 23%;
  width: 50%;
  margin: auto;
  padding: 4px 5px;
  color: var(--light-font-color);
  border-bottom: 1px solid var(--light-color);
}
body nav li:hover {
  opacity: 0.5;
  background-color: var(--light-color);
  transition: background-color 0.3s;
}
.menuWrapper {
  position: relative;
  width: 50px;
  height: 50px;
}
.menuButton {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}
.menuButton span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--light-font-color);
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.menuButton span {
  overflow: hidden;
}
.menuButton::before, .menuButton::after {
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--light-font-color);
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.menuButton::before{
  content: "";
}
.menuButton::after {
  content: "";
  transform: translateY(12px);
  width: 18px;
  left: 10px;
  transition: 0.5s;
}
.menuline {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  transform: translateX(0);
  transition: transform 0.3s;
}
.maintranslate {
  transform: translateX(-250px);
  transition: transform 0.3s;
}
.menutranslate {
  width: 250px;
  transition: 0.3s;
}
.menuButton span, .menuButton::before .menuButton::after {
  transition: transform 0.3s;
}
.menuButton.hover::after{
  left: -10px;
  transition: 0.3s;
}

.menuButton.active span{
  transform: translate(-50px);
  transition: transform 0.3s;
}

.menuButton.active::before {
    transform: rotate(45deg);
    width: 25px;
}

.menuButton.active::after {
    transform: rotate(-45deg);
    width: 25px;
    left: 0;
}
.global-title {
  text-align: left;
  position: fixed;
  top: 62px;
  left: 30px;
  font-size: 1rem;
  height: 40px;
  transition: 0.3s;
  letter-spacing: 0.2em;
  z-index: 2;
  color: var(--dark-darker);
}
.global-title p:nth-of-type(2){
  font-size: 0.8rem;
  letter-spacing: 0;
}
.global-title a{
    color: var(--light-font-color);
}
.section-title{
    position: relative;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;
    z-index: 1;
    font-weight: 100;
  }
.section-title::before{
    animation: circlemovephone 2s ease-in-out infinite;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-sun);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
.content{
  position: relative;
  transition: transform 0.3s;
}
.contact .section-title::after{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  content: "連絡先";
  display: block;
  font-weight: lighter;
  font-size: 16px;
}
.contact{
  position: relative;
  text-align: center;
  padding: 130px 0 300px;
  background-color: var(--light-lightest);
}
.address{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}
.address picture{
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.address a{
  font-size: 1.5rem;
  border-bottom: 1px solid var(--light-font-color);
}
.inform{
  position: relative;
  font-weight: lighter;
  width: auto;
  font-size: 14px;
}
.inform::before{
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  width: 1px;
  height: 150px;
  background-color: var(--light-font-color);
}
.topButton{
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.topButton a{
  color: var(--light-font-color);
}
footer{
  text-align: center;
  width: 100%;
  padding: 20px 0;
  background-color: var(--light-lightest);
}
.top{
    width: 100%;
    padding-top: 100px;
}
.title-container{
    width: 90%;
    padding: 30px 2%  10px 2%; 
    margin: 0 auto 20px auto;
    border-bottom: solid 1px var(--light-font-color);
}
.title h1{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 200;
    font-size: 4.7vw;
    margin-bottom: 3px;
}
.title p{
    font-size: 14px;
    font-weight: 200;
}
.device-icon{
    margin-top: 3px;
    width: 20px;
}
.device-icon picture{
    width: 100%;
    height: auto;
}
.hero-image{
    width: 90%;
    margin: 0 auto;
}
.expression{
    width: 90%;
    padding: 30px 2%  10px 2%; 
    margin: 0 auto 20px auto;
    border-bottom: solid 1px var(--light-font-color);
}
.text-flex{
    font-size: 14px;
    padding: 10px 0;
    margin: 0 auto;
}
.expression p{
    font-size: 14px;
    margin-top: 10px;
    line-height: 16px;
}
.desgin{
    width: 90%;
    height: auto;
    margin: 30px auto;
}
@media screen and (min-width: 520px) {

  .inform{
    font-size: 16px;
  }
  .address{
    padding: 50px 0;
  }
  .address picture{
    width: 40px;
    height: auto;
    margin-right: 20px;
  }
  .address a{
    font-size: 2rem;
  }
.hero-image{
    width: 80%;
    margin: 40px auto;
}
.device-icon{
    margin-top: 3px;
    width: 30px;
}
.top{
    padding-top: 150px;
}
.title-container{
    width: 80%;
    padding: 30px 5%  10px 5%; 
    margin: 0 auto 20px auto;
}
.title h1{
    font-size: 3vw;
}
.desgin{
    width: 80%;
    margin: 40px auto;
}
.expression{
    width: 80%;
    padding: 30px 5%  20px 5%; 
    margin: 0 auto 50px auto;
}
.title p{
    font-size: 16px;
    font-weight: 200;
}
.expression p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 18px;
}
}
@media screen and (min-width: 1180px) {

.section-title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 80px;
}
.section-title::before{
  animation: circlemove 2s ease-in-out infinite;
  width: 100px;
  height: 100px;
  top: -65px;
}
.hero-image{
    width: 60%;
    margin: 60px auto;
}
.top{
    padding-top: 200px;
}
.title-container{
    width: 60%;
    padding: 30px 5%  10px 5%; 
    margin: 0 auto 20px auto;
}
.title h1{
    font-size: 3vw;
}
.desgin{
    width: 60%;
    margin: 60px auto;
}
.expression{
    width: 60%;
    padding: 30px 5%  20px 5%; 
    margin: 0 auto 50px auto;
}
.title p{
    font-size: 18px;
    font-weight: 200;
}
.expression p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 18px;
}
}
@media (prefers-color-scheme:dark){
  body{
    background-color: var(--dark-color);
    color: var(--dark-font-color-lighter);
  }
  .top-title :nth-last-of-type(2){
    text-shadow:1px 1px 1px var(--dark-font-color);
  }
  body nav li p{
    color: var(--dark-font-color);
  }
  .menuButton span{
    background-color: var(--dark-font-color-lighter);
  }
  .menuButton::before, .menuButton::after{
    background-color: var(--dark-font-color-lighter);
  }
  .global-title {
    color: var(--light-font-color-lighter);
  }
  .global-title a{
    color: var(--dark-font-color-lighter);
}
  .circle{
    border:  2px solid var(--dark-moon);
    background-color: var(--dark-moon);
  }
  .triangle{
    background-color: var(--dark-color);
  }
  .section-title{
    color: var(--dark-font-color-lighter);
  }
  .section-title::before{
    background-color: var(--dark-moon);
  }
  .scroll-down:before, .scroll-down:after{
    background-color: var(--dark-font-color-lighter);
  }
  .expression, .title-container{
      border-bottom: 1px solid var(--light-color);
  }
  body nav {
    background-color: var(--dark-color);
    box-shadow: 5px -3px 13px 0px #333333 inset;
  }
  body nav li p{
    color: var(--dark-font-color-lighter);
  }
  .works, .contact, footer{
    background-color: var(--dark-color);
  }
  .contact a{
    color: var(--dark-font-color-lighter);
  }
  .contact picture{
    filter: invert(100%);
  }
  .device-icon picture{
      filter: invert(100%);
  }
  .address a{
    color: var(--dark-font-color-lighter);
    border-bottom: 1px solid var(--dark-font-color-lighter);
  }
  .inform::before{
    background-color: var(--dark-font-color-lighter);
  }
  .tab_panel li:hover{
    box-shadow: 0px 0px 30px var(--dark-darker);
  }
  .tab_panel li:hover{
    z-index: 2;
    box-shadow: 0px 0px 20px var(--dark-color);
    transition: box-shadow 0.5s ease;
  }
  .tab_area label .tabActive{
    background-color: var(--dark-moon);
  }
  .tab_area label{
    background-color: var(--dark-font-color);
    color: var(--light-lightest);
  }
  #tab1:checked ~ .tab_area .tab1_label{
    background-color: var(--dark-moon);
  }
  #tab2:checked ~ .tab_area .tab2_label{
    background-color: var(--dark-moon);
  }
  #tab3:checked ~ .tab_area .tab3_label{
    background-color: var(--dark-moon);
  }
  body nav a{
    color: var(--dark-font-color-lighter);
}
}